@media screen {
body {
  margin: 0;
  padding: 10px 8px;
  font-size: 12pt;
  font-family: Helvetica, Arial, Geneva, sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;  /* vertical align */
  justify-items: stretch;
  padding: 5px 16px;
  color: white;
  background-color: darkslategray;
  border-radius: 10px;
}
header > a {
  color: white;
  text-decoration: none;
}
header > a:hover {
  color: #aaa;
}
header > .left {
  text-align: left;
  font-size: 2em;
}
header > .right {
  text-align: right;
}
main {
  padding: 5px 16px;
  word-wrap: break-word;
}
time {
  color: #666;
}

table {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto; 
    border-collapse: collapse;
}
table th, table td {
    border-left: none;
    border-right: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

figure {
    margin: 0.5em auto;
}
figure > * {
    display: block;
    margin: 0 auto;
    page-break-inside: avoid;
}
figcaption { 
    text-align: center;
    margin-top: 0.5em;
}

/* highlighted code sections */
pre > code.code-line > div {
  background-color: #eee;
  border-radius: 5px;
  padding: 0.5em;
  white-space: pre-wrap;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #666;
}
}  /* end @media screen */